{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

    <h1>Dashboard</h1>

    <a href="{% url 'habitacion_list' %}">Lista de Habitaciones</a>
    <br>
    <a href="{% url 'new_comprobante' %}">Nuevo comprobante</a>
    <br>
    <a href="{% url 'list_comprobante' %}">Lista comprobante</a>

{% endblock %}