{% extends 'base.html' %}

{% block title %}
Detalle comprobante
{% endblock %}

{% block breadcrums %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="{% url 'dashboard' %}">Home</a>
        <a class="breadcrumb-item" href="{% url 'list_comprobante' %}">Lista de Comprobantes</a>
        <span class="breadcrumb-item active">Detalle de {{ comprobante.codigo }}</span>
    </nav>
{% endblock %}

{% block content %}

    <h1>Detalle de comprobante</h1>

    <div class="card">
        <div class="card-header">
            Detalle
        </div>
        <div class="card-body">

        </div>
    </div>

{% endblock %}