{% extends 'base.html' %}

{% block title %}
Lista de Comprobantes
{% endblock %}

{% block breadcrums %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="{% url 'dashboard' %}">Home</a>
        <span class="breadcrumb-item active">Lista de Comprobantes</span>
    </nav>
{% endblock %}

{% block content %}
    <h1>Lista de comprobantes</h1>
    <div class="card">
        <div class="card-header">
            Filtro
        </div>
        <div class="card-body">
            <form>
                <div class="form-row">
                    <div class="form-group col-4">
                        <label for="">Codigo</label>
                        <input type="text"
                               class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                        <small id="helpId" class="form-text text-muted">Buscar por codigo</small>
                    </div>
                    <div class="form-group col-4">
                        <label for="">Cliente</label>
                        <input type="text"
                               class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                        <small id="helpId" class="form-text text-muted">Buscar por Cliente</small>
                    </div>
                    <div class="form-group col-4">
                        <label for="">Tipo Comprobante</label>
                        <select class="form-control" name="" id="">
                            <option></option>
                            <option></option>
                            <option></option>
                        </select>
                        <small id="helpId" class="form-text text-muted">Buscar por Boleta o factura</small>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Filtrar</button>
            </form>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            Lista de Comprobantes
        </div>
        <div class="card-body p-0">
            <table class="table table-striped table-bordered mb-0">
                <thead class="thead-dark">
                <tr>
                    <th>Codigo</th>
                    <th>Tipo de comprobante</th>
                    <th>Detalle</th>
                </tr>
                </thead>
                <tbody>
                {% for comprobante in comprobantes %}

                <tr>
                    <td scope="row">{{ comprobante.codigo }}</td>
                    <td>{{ comprobante.get_tipoComprobante_display }}

                    </td>
                    <td><a href="{% url 'detail_comprobante' comprobante.pk %}">Ver</a></td>
                </tr>

                {% empty %}
                <tr>
                    <tr>
                        <td colspan="5" class="table-warning">
                            <h3 class="text-center">No hay resultados disponibles =/!</h3>
                        </td>
                    </tr>
                </tr>
                {% endfor %}


                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a name="" id="" class="btn btn-primary" href="{% url 'new_comprobante' %}" role="button">Nuevo Comprobante</a>
        </div>
    </div>

{% endblock %}