{% extends 'base.html' %}

{% block title %}
Nuevo Comprobante
{% endblock %}

{% block breadcrums %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="{% url 'dashboard' %}">Home</a>
        <a class="breadcrumb-item" href="{% url 'list_comprobante' %}">Lista de Comprobantes</a>
        <span class="breadcrumb-item active">Nuevo Comprobante</span>
    </nav>
{% endblock %}

{% block content %}

    <h1>Formulario de creacion de comprobante</h1>

    <div class="card">
        <div class="card-header">
            Nuevo Comprobante
        </div>
        <div class="card-body">
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-default">Save</button>
            </form>
        </div>
    </div>



{% endblock %}