{% extends 'base.html' %}

{% block title %}Detalle de Habitaciones{% endblock %}

{% block breadcrums %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="{% url 'dashboard' %}">Home</a>
        <a class="breadcrumb-item" href="{% url 'habitacion_list' %}">Lista de Habitaciones</a>
        <span class="breadcrumb-item active">Habitacion # {{ habitacion.numero }} - {{ habitacion.piso }}</span>
    </nav>
{% endblock %}

{% block content %}

    <h1>Detalle de Habitacion:</h1>

    <div class="card">
        <div class="card-header">
            Habitacion {{ habitacion.numero }} - {{ habitacion.piso }}
        </div>
        <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Text</p>
        </div>
        <div class="card-footer text-muted">
            Footer
        </div>
    </div>

{% endblock %}