{% extends 'base.html' %}

{% block title %}Lista de Habitaciones{% endblock %}

{% block breadcrums %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="{% url 'dashboard' %}">Home</a>
        <span class="breadcrumb-item active">Lista de Habitaciones</span>
    </nav>
{% endblock %}

{% block content %}

    <h1>Lista de Habitaciones</h1>

    <div class="card">
        <div class="card-header">
            Filtros
        </div>
        <div class="card-body">
            <form action="{% url 'habitacion_list' %}" method="GET">
                <div class="form-row">
                    <div class="form-group col-4">
                        <label for="piso_select">Piso</label>
                        <select class="form-control" id="piso_select" name="q">
                          <option value="0">Seleccione un Piso</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                        </select>
                        <small id="helpId" class="text-muted">Help text</small>
                    </div>

                    <div class="form-group col-4">
                        <label for="tipo_select">Tipo</label>
                        <select class="form-control" id="tipo_select" name="p">
                          <option value="0">Seleccione un Tipo</option>
                          <option value="1">Matrimonial</option>
                          <option value="2">Simple</option>
                          <option value="3">Doble</option>
                        </select>
                        <small id="helpId" class="text-muted">Help text</small>
                    </div>

                    <div class="form-group col-4">
                        <label for="">Disponibilidad</label>
                        <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                        <small id="helpId" class="text-muted">Help text</small>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Filtrar</button>
            </form>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            Habitaciones
        </div>
        <div class="card-body p-0">

            <table class="table table-striped table-bordered mb-0">
                <thead class="thead-dark">
                <tr>
                    <th>Habitacion</th>
                    <th>Piso</th>
                    <th>Tipo</th>
                    <th>Disponibilidad</th>
                    <th>Detalle</th>
                </tr>
                </thead>
                <tbody>
                {% for habitacion in habitaciones %}
                    <tr>
                        <td scope="row">{{ habitacion.numero }}</td>
                        <td>{{ habitacion.piso }}</td>
                        <td>{{ habitacion.tipo }}</td>
                        <td>
                            {% if habitacion.get_if_habitacion_is_ocupado == 'True' %}
                                Ocupaso
                            {% else %}
                                Disponible
                            {% endif %}
                        </td>
                        <td><a href="{% url 'habitacion_detail' habitacion.pk %}">Ver</a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="table-warning">
                            <h3 class="text-center">No hay resultados disponibles =/!</h3>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
        <div class="card-footer text-muted">
            <a name="" id="" class="btn btn-primary" href="{% url 'habitacion_new' %}" role="button">Crear Habitacion</a>
        </div>
    </div>

{% endblock %}